anaconda-client==1.6.11
appnope==0.1.0
asn1crypto==0.24.0
bleach==2.1.2
boto3==1.6.5
botocore==1.9.5
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
clyent==1.2.2
colorama==0.3.7
cryptography==2.1.4
dateparser==0.7.0
decorator==4.2.1
docutils==0.14
entrypoints==0.2.3
html5lib==1.0.1
humanize==0.5.1
idna==2.6
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
MarkupSafe==1.0
maya==0.3.3
mistune==0.8.3
nb-anacondacloud==1.4.0
nb-conda==2.2.1
nb-conda-kernels==2.1.0
nbconvert==5.3.1
nbformat==4.4.0
nbpresent==3.0.2
notebook==5.4.0
numpy==1.14.1
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
pendulum==1.4.2
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.4.2
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.5.0
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2018.3
pytzdata==2018.3
PyYAML==3.12
pyzmq==16.0.3
regex==2018.2.21
requests==2.18.4
rsa==3.4.2
ruamel.yaml==0.15.35
s3fs==0.1.3
s3transfer==0.1.13
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
stats==0.1.2a0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
xlrd==1.1.0
xlwt==1.3.0
